.typing-txt{display: none;}
.typeing-txt ul{list-style:none;}

.typing {
  /*display: inline-block;*/
  animation-name: cursor;
  animation-duration: 0.3s;
  /*animation-iteration-count: infinite;*/
}
/*@keyframes cursor{
  0%{border-right: 1px solid #fff}
  50%{border-right: 1px solid #000}
  100%{border-right: 1px solid #fff}
}*/
